<h1>Movies</h1>

<%= form_tag(movies_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Search" %>
<% end %>

<h2>Recently added:</h2>
<% @movies.each do |movie| %>
    <div class="display">
        <p><%= link_to image_tag(movie[:image], :class => 'thumb'), movie_path(movie[:imdbid]) %></p>
    </div>
<% end %>
