@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(242,241,227);
    box-sizing: border-box;
}

nav{
    background-color: rgb(92,109,83);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: stretch;
    column-gap: 10px;
    padding: 10px;
    height: 5em;
}

nav a {
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
    font-size: 2em;
    color: rgb(242,241,227);
    text-decoration: none;
}

nav .login {
    color: rgb(242,241,227);
    font-size: 16px;
    text-align: right;
}

nav p {
    margin: 0;
}

.home .search {
    background-color: rgb(92,109,83);
    height: 4em;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.home .search .form {
    display: flex;
    align-items: center;
}

.home .search .field {
    background-color: rgb(242,241,227);
    height: 3em;
    width: 24em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    outline: none;
}

.home .search .submit {
    background-color: rgb(242,241,227);
    height: 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.home h4 {
    color: rgb(60,58,58);
    margin: 0;
    padding:10px;
    background-color: rgb(223,215,164);
    border-radius: 4px;
}

.home .display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.home .display a {
    align-self: center;
}

.home .display .image {
    height: 12em;
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.home .display .image:hover {
    height: 12.1em;
    border-radius: 10px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.7);
}

.movie-index {
    padding-left: 3px;
}

.movie-index .index1 {
    background-color: rgb(223,215,164);
}

.movie-index .index1,
.movie-index .index2 {
    border: 1px solid rgb(120,118,118);
    height: 10em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    column-gap: 10px;
    margin-bottom: 10px;
}

.movie-index .image {
    height: 10em;
    width: 7em;
}

.movie-index a {
    grid-area: 1 / 1 / span 2 / span 1;
}

.movie-index .title {
    margin: 0;
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: end;
}

.movie-index .description {
    margin: 0;
    grid-area: 2 / 2 / span 1 / span 1;
    font-size: 12px;
}

.movie-index .link {
    color: rgb(92,109,83);
}

.movie-show-info {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(120,118,118);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 11em auto;
    grid-template-rows: repeat(6, auto);
    justify-content: start;
    align-content: start;
    column-gap: 10px;
    padding: 10px;
}

.movie-show-info .image {
    grid-area: 1 / 1 / span 4 / span 1;
    place-self: center;
    max-height: 15em;
    border-radius: 20px;
    padding-bottom: 10px;
}

.movie-show-info h1 {
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: end;
    font-size: 2em;
    margin: 0;
}

.movie-show-info h6 {
    grid-area: 2 / 2 / span 1 / span 1;
    font-size: 12px;
    margin: 0;
    padding-bottom: 20px;
}

.movie-show-info .director {
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: start;
    font-size: 15px;
    margin: 0;
}

.movie-show-info .avg-rate,
.movie-show-info .rate {
    grid-area: 4 / 2 / span 1 / span 1;
    align-self: start;
    font-size: 15px;
    margin: 0;
}

.movie-show-info .storyline {
    grid-area: 5 / 1 / span 1 / span 1;
    align-self: end;
    font-size: 12px;
    margin: 0;
}

.movie-show-info .plot {
    grid-area: 6 / 1 / span 1 / span 2;
    font-size: 15px;
    text-align: justify;
    margin: 0;
}

.movie-show-info .link-review {
    grid-area: 7 / 1 / span 1 / span 1;
    margin: 0;
    color: rgb(92,109,83);
    padding-top: 20px;
}

.movie-show-review {
    border-bottom: 1px solid rgb(120,118,118);
    color: rgb(242,241,227);
    background-color: rgb(60,58,58);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: start;
    column-gap: 10px;
    padding: 10px;
}

.movie-show-review .user-date {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 10px;
}

.movie-show-review .stars {
    grid-area: 2 / 1 / span 1 / span 1;
    padding-top: 10px;
}

.movie-show-review .title {
    grid-area: 3 / 1 / span 1 / span 1;
    font-weight: bold;
}

.movie-show-review .comment {
    grid-area: 4 / 1 / span 1 / span 2;
}

.movie-show-review .edit {
    grid-area: 5 / 1 / span 1 / span 1;
    color: rgb(223,215,164);
}

.movie-show-review .delete {
    grid-area: 5 / 2 / span 1 / span 1;
    color: rgb(223,215,164);
}

.review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rate {
    position: relative;
    width: 1em;
    font-size: 20px;
    color: #FFD600;
    content: "\2605"
}

.review input {
    display: none
}

.review label {
    position: relative;
    width: 1em;
    font-size: 20px;
    color: #FFD600;
    cursor: pointer
}

.review label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.review label:hover:before,
.review label:hover~label:before {
    opacity: 1 !important
}

.review input:checked~label:before {
    opacity: 1
}

.review:hover input:checked~label:before {
    opacity: 0.4
}

.review-container {
    border: 1px solid rgb(120,118,118);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 11em auto;
    grid-template-rows: auto 2em auto auto auto auto;
    column-gap: 10px;
    padding: 10px;
}

.review-container h4 {
    grid-area: 1 / 1 / span 1 / span 2;
    color: rgb(60,58,58);
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.review-container .image {
    grid-area: 2 / 1 / span 2 / span 1;
    height: 15em;
    padding-bottom: 10px;
    border-radius: 4px;
}

.review-container .title {
    grid-area: 2 / 2 / span 1 / span 1;
    color: rgb(60,58,58);
    margin: 0;
    font-size: 20px;
}

.review-container .subtitle {
    grid-area: 3 / 2 / span 1 / span 1;
    color: rgb(60,58,58);
    margin: 0;
    font-size: 12px;
}

.review-container .message {
    grid-area: 4 / 1 / span 1 / span 1;
    color: red;
    margin: 0;
}

.review-container .new_review,
.review-container .edit_review {
    grid-area: 5 / 1 / span 1 / span 2;
    display: inline-grid;
    grid-template-columns: auto;
    color: rgb(60,58,58);
    margin: 0;
}

.review-container .new_review input,
.review-container .edit_review input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2em;
}

.review-container .new_review textarea,
.review-container .edit_review textarea {
    margin-bottom: 10px;
    height: 10em;
    border: none;
}

.review-container .new_review .button,
.review-container .edit_review .button {
    justify-self: left;
    background-color: rgb(120,118,118);
    color: rgb(242,241,227);
    border: none;
}

.user {
    padding: 10px;
    color: rgb(60,58,58);
}

.user .message {
    color: red;
}

.user .new_user {
    display: inline-grid;
    grid-template-columns: auto;
}

.user .new_user input {
    margin-bottom: 10px;
    width: 25em;
}

.user .new_user .button {
    justify-self: center;
    background-color: rgb(120,118,118);
    color: rgb(242,241,227);
    border: none;
    padding: 10px;
}
