@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(242,241,227);
}

nav{
    background-color: rgb(92,109,83);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: stretch;
    column-gap: 10px;
    padding: 10px;
    height: 5em;
}

nav .home {
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
    font-size: 2em;
    color: rgb(242,241,227);
    text-decoration: none;
}

nav .login {
    color: rgb(242,241,227);
    font-size: 16px;
    text-align: right;
}

nav p {
    margin: 0;
}

.home-container .search {
    background-color: rgb(92,109,83);
    height: 4em;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.home-container .search .form {
    display: flex;
    align-items: center;
}

.home-container .search .field {
    background-color: rgb(242,241,227);
    height: 3em;
    width: 35em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    outline: none;
}

.home-container .search .submit {
    background-color: rgb(242,241,227);
    height: 35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.home-container h4 {
    color: rgb(60,58,58);
    margin: 0;
    padding:10px;
}

.home-container .display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 15em;
}

.home-container .display .image {
    height: 12em;
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}

.home-container .display .image:hover {
    height: 12.5em;
    border-radius: 10px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.7);
}

.index-container .index1 {
    background-color: rgb(223,215,164);
}

.index-container .index1,
.index-container .index2 {
    border: 1px solid rgb(120,118,118);
    height: 10em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    column-gap: 10px;
    margin-bottom: 10px;
}

.index-container .image {
    height: 10em;
    width: 7em;
}

.index-container a {
    grid-area: 1 / 1 / span 2 / span 1;
}

.index-container .title {
    margin: 0;
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: end;
}

.index-container .description {
    margin: 0;
    grid-area: 2 / 2 / span 1 / span 1;
    font-size: 12px;
}

.index-container .link {
    color: rgb(92,109,83);
}

.show-movie {

}

.info-movie {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(120,118,118);
    border-radius: 4px;
    height: 30em;
    display: grid;
    grid-template-columns: 11em auto;
    grid-template-rows: repeat(6, auto);
    justify-content: start;
    align-content: start;
    column-gap: 10px;
    padding: 10px;
}

.info-movie .image {
    grid-area: 1 / 1 / span 4 / span 1;
    place-self: center;
    max-height: 15em;
    border-radius: 20px;
    padding-bottom: 10px;
}

.info-movie h1 {
    grid-area: 1 / 2 / span 1 / span 1;
    align-self: end;
    font-size: 35px;
    margin: 0;
}

.info-movie h6 {
    grid-area: 2 / 2 / span 1 / span 1;
    font-size: 12px;
    margin: 0;
    padding-bottom: 20px;
}

.info-movie .director {
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: start;
    font-size: 20px;
    margin: 0;
}

.info-movie .storyline {
    grid-area: 5 / 1 / span 1 / span 1;
    align-self: end;
    font-size: 12px;
    margin: 0;
}

.info-movie .plot {
    grid-area: 6 / 1 / span 1 / span 2;
    font-size: 15px;
    text-align: justify;
    margin: 0;
}

.info-movie .link-review {
    grid-area: 7 / 1 / span 1 / span 1;
    margin: 0;
    color: rgb(92,109,83);
    padding-top: 20px;
}

.show-review {
    border-bottom: 1px solid rgb(120,118,118);
    color: rgb(242,241,227);
    background-color: rgb(60,58,58);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: start;
    column-gap: 10px;
    padding: 10px;
}

.show-review .user-date {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 10px;
}

.show-review .stars {
    grid-area: 2 / 1 / span 1 / span 1;
    padding-top: 10px;
}

.show-review .title {
    grid-area: 3 / 1 / span 1 / span 1;
    font-weight: bold;
}

.show-review .comment {
    grid-area: 4 / 1 / span 1 / span 2;
}

.show-review .edit {
    grid-area: 5 / 1 / span 1 / span 1;
    color: rgb(223,215,164);
}

.show-review .delete {
    grid-area: 5 / 2 / span 1 / span 1;
    color: rgb(223,215,164);
}

.review {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.review>input {
    display: none
}

.review>label {
    position: relative;
    width: 1em;
    font-size: 20px;
    color: #FFD600;
    cursor: pointer
}

.rate {
    position: relative;
    width: 1em;
    font-size: 20px;
    color: #FFD600;
    content: "\2605"
}

.review>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.review>label:hover:before,
.review>label:hover~label:before {
    opacity: 1 !important
}

.review>input:checked~label:before {
    opacity: 1
}

.review:hover>input:checked~label:before {
    opacity: 0.4
}

.form-review {
    background-color: rgb(242,241,227);
    color: rgb(60,58,58);
}

.form-review .review {
    padding-bottom: 10px;
}

.form-review .comment-title {
    height: 2em;
    width: 40em;
    border-radius: 4px;
    border-color: rgb(120,118,118);
    font-size: 15px;
}

.form-review .comment {
    height: 10em;
    width: 50em;
    border-radius: 4px;
    border-color: rgb(120,118,118);
    font-size: 12px;
}

.form-review .button {
    height: 3em;
    width: 55em;
    border: none;
    border-radius: 4px;
    background-color: rgb(120,118,118);
    color: rgb(242,241,227);
    font-family: 'Nunito', sans-serif;
}

.review-container {
    border: 1px solid rgb(120,118,118);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 11em auto;
    grid-template-rows: auto 2em auto auto auto;
    column-gap: 10px;
    padding: 10px;
}

.review-container h4 {
    grid-area: 1 / 1 / span 1 / span 2;
    color: rgb(60,58,58);
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.review-container .image {
    grid-area: 2 / 1 / span 2 / span 1;
    height: 15em;
    padding-bottom: 10px;
    border-radius: 4px;
}

.review-container .title {
    grid-area: 2 / 2 / span 1 / span 1;
    color: rgb(60,58,58);
    margin: 0;
    font-size: 20px;
}

.review-container .subtitle {
    grid-area: 3 / 2 / span 1 / span 1;
    color: rgb(60,58,58);
    margin: 0;
    font-size: 12px;
}

.review-container .form-review {
    grid-area: 4 / 1 / span 1 / span 2;
    color: rgb(60,58,58);
    margin: 0;
}

.sign-in {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    justify-content: start;
    column-gap: 10px;
    padding: 10px;
}

.sign-in .form {
}

.sign-in h4 {
    color: rgb(60,58,58);
    margin: 0;
    padding:10px;
}