<div class="review-container">
  <h4>EDIT YOUR REVIEW</h4>

  <%= image_tag @movie.image, class: "image" %>

  <p class="title"><%= @movie.title %></p>
  <p class="subtitle">(<%= @movie.year %>)</p>

  <%= render :partial => 'form' %>
</div>